= simple_form_for(@post) do |f|
  - if @post.errors.any?
    = render 'shared/error_messages', :target => @post

  .inputs
    = f.input :title
    = f.input :sequence
    = f.input :description, :input_html => {:rows =>5}

  .actions
    = f.button :submit
