%h1= "Building This Site"

- @posts.each do |post|
  .postShow
    .sequence= "#" + post.sequence.to_s
    .title= link_to post.title, post
    .date= l post.created_at, :format => :date    
    .admin
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
    .clear

%br.clear
= link_to 'New Post', new_post_path