- title "\##{@post.sequence} #{@post.title}"

%p= sanitize @post.description

- for section in @post.sections
  .section
    %h2= section.heading
    .body= raw section.body
    - unless section.snippet.blank?
      .snippet
        .content
          .caption= section.snippet.caption
          ~ sanitize( coderay(section.snippet.content, section.snippet.language) )
    %hr

.postNav
  .prev= post_link(:previous)
  .next= post_link(:next)
%br
%br
%p= link_to 'View All Posts', posts_path
%br

= link_to 'Edit', edit_post_path(@post.sequence)
\|
= link_to 'Back', posts_path
