%h1= "\##{@post.sequence} #{@post.title}"

%p= sanitize @post.description

- for section in @post.sections
  .section
    %h2= section.heading
    .body= sanitize section.body
    %hr
    
= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
